.App {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.lightMode {
  background-image: url("../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 200px;
  padding-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.darkMode {
  background-image: url("../images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 200px;
  padding-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo_icon {
  display: flex;
  align-items: center;
  gap: 196px;
  margin-bottom: 40px;
}
.check_input {
  width: 327px;
  height: 48px;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
}
.check_input_dark {
  width: 327px;
  height: 48px;
  background-color: rgba(37, 39, 61, 1);
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
}
.check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(227, 228, 241, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.check_dark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(57, 58, 75, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input {
  border: none;
  color: rgba(148, 149, 165, 1);
  font-size: 15px;
  outline: none;
}
.input_dark {
  border: none;
  background-color: rgba(37, 39, 61, 1);
  color: rgba(118, 121, 146, 1);
  font-size: 15px;
  outline: none;
}
.active {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    rgba(85, 221, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
}

.noActive {
  display: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 35px 50px 15px rgba(194, 195, 214, 0.5);
}
.dark_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  margin-top: -20px;
  border-radius: 5px;
  width: 327px;
  background-color: rgba(255, 255, 255, 1);
}
.dark_main {
  margin-top: -20px;
  border-radius: 5px;
  width: 327px;
  background-color: rgba(37, 39, 61, 1);
}
.box {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(227, 228, 241, 1);
  gap: 12px;
}
.dark_box {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(57, 58, 75, 1);
  gap: 12px;
}

.components {
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 140px;
  height: 50px;
}

.items_left {
  color: rgba(148, 149, 165, 1);
  font-size: 12px;
}
.items_left_dark {
  color: rgba(91, 94, 126, 1);
  font-size: 12px;
}
.button_clear {
  color: rgba(148, 149, 165, 1);
  background-color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
}
.button_clear_dark {
  cursor: pointer;
  background-color: rgba(37, 39, 61, 1);
  color: rgba(91, 94, 126, 1);
  border: none;
}
.ckecked_text {
  font-family: "Josefin Sans", sans-serif;
  width: 215px;
  font-weight: 400;
  font-size: 15px;
  color: rgba(209, 210, 218, 1);
  text-align: center;
  text-decoration: line-through;
  text-decoration-line: 1px;
  margin-right: 20px;
  word-wrap: break-word;
  line-height: 20px;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
  /* text-overflow: ellipsis; */
}
.ckecked_text_dark {
  width: 215px;
  font-size: 15px;
  color: rgba(77, 80, 103, 1);
  text-align: center;
  text-decoration: line-through;
  text-decoration-line: 1px;
  margin-right: 20px;
  word-wrap: break-word;
  line-height: 20px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.text {
  color: rgba(73, 76, 107, 1);
  font-size: 15px;
  width: 215px;
  margin-right: 20px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.dark_text {
  color: rgba(200, 203, 231, 1);
  font-size: 15px;
  width: 215px;
  margin-right: 20px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.remove {
  cursor: pointer;
}

.footer {
  margin-top: 16px;
  width: 327px;
  height: 48px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 35px 50px 15px rgba(194, 195, 214, 0.5);
}
.dark_footer {
  margin-top: 16px;
  width: 327px;
  height: 48px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  background-color: rgba(37, 39, 61, 1);
}
.btn {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  color: rgba(148, 149, 165, 1);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.dark_btn {
  background-color: rgba(37, 39, 61, 1);
  border: none;
  color: rgba(91, 94, 126, 1);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.btn_clicked_dark{
  background-color: rgba(37, 39, 61, 1);
  border: none;
  color: rgba(58, 124, 253, 1);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.btn_clicked_light{
  background-color: rgba(255, 255, 255, 1);
  border: none;
  color: rgba(58, 124, 253, 1);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.drop_drag {
  font-weight: 400;
  color: rgba(148, 149, 165, 1);
  margin-top: 40px;
  font-size: 14px;
}
.dark_drop_drak {
  color: rgba(91, 94, 126, 1);
  font-weight: 400;
  margin-top: 40px;
  font-size: 14px;
}

.activeDark {
  display: none;
  cursor: pointer;
}
.activeLight {
  display: block;
  cursor: pointer;
}
.main_filter {
  display: none;
}
.button_clear_dark:hover {
  color: rgba(227, 228, 241, 1);
}
.button_clear:hover {
  color: rgba(73, 76, 107, 1);
}
.check:hover {
  border-color: rgba(192, 88, 243, 1);
}
.check_dark:hover {
  border-color: rgba(192, 88, 243, 1);
}
.main_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dark_drop_drak_desktop {
  display: none;
}
.drop_drag_desktop {
  display: none;
}
.btn:hover{
  color: rgba(73, 76, 107, 1);
}
.dark_btn:hover{
  color: rgba(227, 228, 241, 1);
}
@media (min-width: 1440px) {
  .dark_drop_drak_desktop {
    display: block;
    color: rgba(91, 94, 126, 1);
    font-weight: 400;
    font-size: 14px;
    margin-top: 40px;
  }
  .drop_drag_desktop {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: rgba(148, 149, 165, 1);
    margin-top: 40px;
  }
  .main_filter {
    display: flex;
    gap: 20px;
  }
  .components {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    gap: 0px;
    height: 50px;
    padding-right: 24px;
  }
  .lightMode {
    background-image: url("../images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 300px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .darkMode {
    background-image: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 300px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .todo_icon {
    display: flex;
    align-items: center;
    gap: 410px;
    margin-bottom: 48px;
  }
  .check_input {
    width: 540px;
    height: 64px;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 24px;
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 5px;
  }
  .check_input_dark {
    width: 540px;
    height: 64px;
    background-color: rgba(37, 39, 61, 1);
    padding-left: 24px;
    display: flex;
    align-items: center;
    gap: 25px;
    border-radius: 5px;
  }
  .check {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(227, 228, 241, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .check_dark {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(57, 58, 75, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .input {
    border: none;
    color: rgba(148, 149, 165, 1);
    font-size: 18px;
    outline: none;
    width: 450px;
  }
  .input_dark {
    border: none;
    background-color: rgba(37, 39, 61, 1);
    color: rgba(118, 121, 146, 1);
    font-size: 18px;
    outline: none;
    width: 450px;
  }
  .active {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      rgba(85, 221, 255, 1) 0%,
      rgba(192, 88, 243, 1) 100%
    );
  }

  main {
    margin-top: -70px;
    border-radius: 5px;
    width: 540px;
    background-color: rgba(255, 255, 255, 1);
  }
  .dark_main {
    margin-top: -70px;
    border-radius: 5px;
    width: 540px;
    background-color: rgba(37, 39, 61, 1);
  }

  .box {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(227, 228, 241, 1);
    gap: 25px;
  }
  .dark_box {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(57, 58, 75, 1);
    gap: 25px;
  }
  .ckecked_text {
    font-family: "Josefin Sans", sans-serif;
    width: 350px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(209, 210, 218, 1);
    text-align: center;
    text-decoration: line-through;
    text-decoration-line: 1px;
    margin-right: 60px;
    word-wrap: break-word;
    line-height: 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ckecked_text_dark {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    width: 350px;
    font-size: 18px;
    color: rgba(77, 80, 103, 1);
    text-align: center;
    text-decoration: line-through;
    text-decoration-line: 1px;
    margin-right: 60px;
    word-wrap: break-word;
    line-height: 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text {
    color: rgba(73, 76, 107, 1);
    font-size: 18px;
    width: 350px;
    margin-right: 60px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dark_text {
    color: rgba(200, 203, 231, 1);
    font-size: 18px;
    width: 350px;
    margin-right: 60px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .items_left {
    color: rgba(148, 149, 165, 1);
    font-size: 14px;
  }
  .items_left_dark {
    color: rgba(91, 94, 126, 1);
    font-size: 14px;
  }

  .button_clear {
    color: rgba(148, 149, 165, 1);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  .button_clear_dark {
    cursor: pointer;
    background-color: rgba(37, 39, 61, 1);
    color: rgba(91, 94, 126, 1);
    border: none;
    font-size: 14px;
  }
}
